.breadcrumbs
{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: $breadcrumb-padding-y $breadcrumb-padding-x;
    margin-bottom: $breadcrumb-margin-bottom;
    list-style: none;
    background-color: $breadcrumb-bg;

    > li
    {
        &:not(:first-child):before
        {
            display: inline-block;

            padding-left: $breadcrumb-item-padding;
            padding-right: $breadcrumb-item-padding;
            color: $breadcrumb-divider-color;
            content: $breadcrumb-divider;
        }
        > a
        {
            text-decoration: none;
            &:hover
            {
                cursor: pointer;
                text-decoration: underline;
            }
        }
        &:last-child > a,span
        {
            color: $breadcrumb-active-color;
        }
    }
}
