.fadein
{
    animation: fadein 0.4s;
}
.fadeout
{
    animation: fadeout 0.4s;
}
@keyframes fadein
{
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadeout
{
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}