// Custom variables
$btn-border-radius:           .135rem;
$btn-border-radius-lg:        .135rem;
$btn-border-radius-sm:        .135rem;
$button-border-radius-xs:     .135rem; // NEW

$btn-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
$btn-active-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
$enable-btn-focus-shadow: false !default; // HACK

//--------------------------------------------------------------------------------------------------

// Breadcrumbs
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-bg: unset;
$breadcrumb-margin-bottom: 0.5rem;


// Alerts
$alert-bg-level:                    -8;
$alert-border-level:                -2;
$alert-border-radius:               .1rem;


// Badges
$badge-border-radius:               .1rem;
$badge-padding-y:                   .3em;
$badge-padding-x:                   .5em;

// Loader
$spinner-border-width-sm: .15em;
