
.form-group
{
    margin-bottom: 1rem;
}
.form-control
{
    display: block;
    width: 100%;
    background-clip: padding-box;

    // ...
    height: $input-height;
    padding: $input-padding-y $input-padding-x;
    font-family: $input-font-family;
    @include font-size($input-font-size);
    font-weight: $input-font-weight;
    line-height: $input-line-height;

    // ...
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    //font-weight: 300;
    will-change: border-color,box-shadow;
    border-radius: .25rem;
    box-shadow: none;
    transition: box-shadow .25s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);

    &:focus,
    &.focus
    {
        outline: 0;
        color: #495057;
        background-color: #fff;
        box-shadow: 0 0.313rem 0.719rem rgba(0,123,255,.1), 0 0.156rem 0.125rem rgba(0,0,0,.06);
    }

    &:focus,
    &:focus:hover,
    &.focus,
    &.focus:hover
    {
        &[readonly]
        {
            border-color: $disabled-text;
        }
        &:not([readonly])
        {
            border-color: $main-color;
        }
    }

    &[readonly]
    {
        background: $readonly-background;
    }

    &:disabled, &[disabled]
    {
        color: $disabled-text;
        border-color: #e1e5eb;
        background-color: $disabled-background;
        cursor: not-allowed;
    }
}

select.form-control
{
    &[size],
    &[multiple]
    {
        height: auto;
    }
}

textarea.form-control
{
    height: auto;
}
