
$default-font-size: .8125rem;
$default-line-height: 1.125rem;
//$default-line-height: 1.125rem;

@import './variables/colors';
@import './variables/options';
@import './variables/spacing';
@import './variables/body';
@import './variables/link';
@import './variables/paragraphs';
@import './variables/_grid.scss'; // XXX
@import './variables/components';
@import './variables/typography';
@import './variables/tables';
@import './variables/forms';
@import './variables/zindex';
@import './variables/card';
@import './variables/badge';
@import './variables/alert';

@import './variables/thumbnails';
@import './variables/figures';

@import './variables/breadcrumbs';
@import './variables/close';
@import './variables/spinner';
@import './variables/code';
@import './variables/utilities';




$z-index-popup:             1000;
$popup-border:              rgba(0,0,0,.15) !default;
$popup-background:          $body-bg !default;


$primary-background: $primary;
$secondary-background: $secondary;
$success-background: $success;
$danger-background: $danger;
$warning-background: $warning;
$info-background: $info;
$light-background: $light;
$dark-background: $dark;

$main-color: $primary-background;

$disabled-text: #bebebe;
$disabled-background: #e7e7e7;

$readonly-background: #f7f7f7;

$border-gray-color: rgb(241, 241, 241);

$margin-right-input: 0.5rem;
$input-active-color: lighten($main-color, 37%);



@import './variables/components-x/tabs';
