// Links
//
// Style anchor elements.

// TODO: Fix this $link-color:                              theme-color("primary") !default;
$link-color:                              $primary;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;
