
.alert
{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .1rem;


    font-size: $default-font-size;
    line-height: $default-line-height;
}
@mixin mixing-alert($color)
{
    color: darken($color, 20%)!important;;
    background-color: lighten($color, 32%)!important;
    border: 1px solid lighten($color, 8%)!important;
}

.alert-primary   { @include mixing-alert($primary-background); }
.alert-secondary { @include mixing-alert($secondary-background); }
.alert-success   { @include mixing-alert($success-background); }
.alert-danger    { @include mixing-alert($danger-background); }
.alert-warning   { @include mixing-alert($warning-background); }
.alert-info      { @include mixing-alert($info-background); }
.alert-light     { @include mixing-alert($light-background); }
.alert-dark      { @include mixing-alert($dark-background); }

