/*
.btn
{
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;

    line-height: 1.5;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    //box-shadow: 0 2px 5px 0 rgba(0,0,0,.1), 0 2px 10px 0 rgba(0,0,0,.12);

    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    border: 0;
    border-radius: .135rem;
    //border-radius: .125rem;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
    color: inherit;
    
    font-size: $default-font-size;

    padding: .50rem 1.30rem;
    
    background-color: white;

    &.btn-tool
    {
        padding: 5px;
    }

    &:hover
    {
        color: #212529;
        text-decoration: none;
    }

    &:active, &:focus, &:hover
    {
        outline: 0;
    }

    &.disabled,
    &:disabled,
    &[disabled]
    {
        opacity: .65;
        pointer-events: none;
    }

    &:not(.disabled):not(:disabled):not([disabled]).active,
    &:not(.disabled):not(:disabled):not([disabled]):active
    {
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125)!important;
        background-color: darken(white, 15%);
    }

    &.disabled:active, &.disabled:focus, &.disabled:hover,
    &:disabled:active, &:disabled:focus, &:disabled:hover,
    &[disabled]:active, &[disabled]:focus, &[disabled]:hover
    {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    }

    &:not(.disabled):not(:disabled):not([disabled]):not(.active):hover,
    &:not(.disabled):not(:disabled):not([disabled]):not(:active):hover
    {
        background-color: darken(white, 7%);
    }

    &.btn-processing
    {
        pointer-events: none;
        &:after
        {
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            background-image: linear-gradient(
                45deg,
                rgba(255,255,255,.15) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255,255,255,.15) 50%,
                rgba(255,255,255,.15) 75%,transparent 75%,transparent);
            background-size: 2rem;

            animation: striped 0.5s linear infinite;

            @keyframes striped
            {
                from { background-position: -4rem 0; }
                to   { background-position: -2rem 0; }
            }
        }
    }

    &.btn-rounded
    {
        border-radius: 10em;
    }
    &.btn-uppercase
    {
        text-transform: uppercase;
    }
    &.btn-fullwidth
    {
        width: 100%;
    }

    &.btn-size-compact
    {
        padding: .20rem .60rem;
        font-weight: 300;
    }
}
@mixin mixin-button($text-color, $background-color)
{
    color: $text-color!important;
    background-color: $background-color!important;
    
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active
    {
        color: lighten($text-color, 12%)!important;
    }
    &:not(.disabled):not(:disabled):not([disabled]).active,
    &:not(.disabled):not(:disabled):not([disabled]):active
    {
        background-color: darken($background-color, 15%)!important;
    }
    &:not(.disabled):not(:disabled):not([disabled]):not(.active):hover,
    &:not(.disabled):not(:disabled):not([disabled]):not(:active):hover
    {
        background-color: darken($background-color, 7%)!important;
    }
}

.btn-default   { @include mixin-button(#000, white); }
.btn-primary   { @include mixin-button(#fff, $primary-background); }
.btn-secondary { @include mixin-button(#fff, $secondary-background); }
.btn-success   { @include mixin-button(#fff, $success-background); }
.btn-danger    { @include mixin-button(#fff, $danger-background); }
.btn-warning   { @include mixin-button(#fff, $warning-background); }
.btn-info      { @include mixin-button(#fff, $info-background); }
.btn-light     { @include mixin-button(#000, $light-background); }
.btn-dark      { @include mixin-button(#fff, $dark-background); }
*/
