.button-toolbar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    >*+*
    {
        margin-left: .5em;
    }
    &.align-right
    {
        justify-content: flex-end;
    }
    &.align-center
    {
        justify-content: center;
    }
}