.card
{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;

    border: none;
    border-radius: .25rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);

    .card-body
    {
        flex: 1 1 auto;

        padding: 1.25rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        border-radius: 0!important;
    }
}
