$checkbox-size: 1.125rem !default;
$checkbox-margin: $margin-right-input !default;

.checkbox
{
    display: inline-block;
    line-height: 0;

    .checkbox-icon
    {
        position: relative;
        display: block;
        width: $checkbox-size;
        height: $checkbox-size;
        min-width: $checkbox-size;
        min-height: $checkbox-size;

        background: #fff;
        border: .0625rem solid #e1e5eb;

        border-radius: 2px;
        box-shadow: none;
        box-sizing: content-box;

        user-select: none;
        pointer-events: all;

        transition: all .18s cubic-bezier(.27,.01,.38,1.06);

        &:checked
        {
            color: #fff;
            border-color: transparent;
            background-color: $main-color;
            box-shadow: none;
        }

        &::after
        {
            content: "";
            position: absolute;
            top: 0.15rem;
            left: 0.4rem;
            width: 0.35rem;
            height: 0.7rem;
            opacity: 0;
            transform: rotate(45deg) scale(0);
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transition: border .18s cubic-bezier(.27,.01,.38,1.06);
            transition: transform .18s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);
            transition-delay: .1s;
        }
    }

    label
    {
        margin: 0;
        display: flex;
    }

    input[type=checkbox]
    {
        display: none;

        &:active
        {
            ~ .checkbox-icon
            {
                background-color: $input-active-color;
            }
        }
        &:checked
        {
            ~ .checkbox-icon
            {
                background: $primary-background;
            }
            ~ .checkbox-icon:after
            {
                opacity: 1;
                transform: rotate(45deg) scale(1);
                background: $main-color;
            }
        }
        &:disabled
        {
            ~ .checkbox-icon
            {
                background-color: $disabled-background;
            }
            &:checked ~ .checkbox-icon:after
            {
                border-color: $disabled-text;
                background-color: $disabled-background;
            }
        }
    }

    &.disabled
    {
        label
        {
            cursor: not-allowed;
        }
    }
}

.checkbox-with-label
{
    .checkbox
    {
        margin-right: $margin-right-input;
        .checkbox-icon
        {
            top: ($font-size-base * $line-height-base - $checkbox-size) / 2;
            //top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2; //TODO
        }
    }
}
