$dialog-border-radius: 0.2rem;

.dialog
{
    background: white;
    width: 700px;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    color: #000;
    background-color: #fff;
    border: rgba(0, 0, 0, 0);

    border-radius: $dialog-border-radius;

    display: flex;
    flex-direction: column;

    > .dialog-header
    {
        padding: 10px 15px 10px 20px;
        background-color: #f5f5f5;
        display: flex;
        border-radius: $dialog-border-radius $dialog-border-radius 0 0;
        > .dialog-header-title
        {
            flex-grow: 1;

            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.6;
            letter-spacing: 0.0075em;
        }
        > .dialog-header-close
        {
            color: lightgray;
            cursor: pointer;
            &:hover
            {
                color: gray;
            }
        }
    }
    > .dialog-body
    {
        position: relative;
        padding: 15px;
        height: 0%;
        flex-grow: 1;
    }
    > .dialog-footer
    {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;

        padding-top: 12px;
        padding-bottom: 14px;
        border-top: 0;
        background-color: #f5f5f5;
        
        border-radius: 0 0 $dialog-border-radius $dialog-border-radius;
    }
}
