
.loader
{
    display: inline-block;
    position: relative;
    width: $spinner-width;
    height: $spinner-height;
    vertical-align: middle;
}

//
// Quart border loading
//
@keyframes loader-quart
{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-quart
{
    border-radius: 50%;
    border: $spinner-border-width solid rgba($white, 0.4);

    &:after
    {
        content: "";

        position: absolute;
        top: -$spinner-border-width;
        right: -$spinner-border-width;
        bottom: -$spinner-border-width;
        left: -$spinner-border-width;

        border-radius: 50%;
        border: $spinner-border-width solid transparent;
        border-top-color: $white;

        animation: loader-quart 1s linear infinite;

    }
}

.loader-quart-sm
{
    width: $spinner-width-sm;
    height: $spinner-height-sm;
    border-width: $spinner-border-width-sm;

    &:after
    {
        top: -$spinner-border-width-sm;
        right: -$spinner-border-width-sm;
        bottom: -$spinner-border-width-sm;
        left: -$spinner-border-width-sm;

        border-width: $spinner-border-width-sm;
    }
}

//
// Rotating border
//

@keyframes loader-border {
    to { transform: rotate(360deg); }
}

.loader-border
{
    display: inline-block;
    width: $spinner-width;
    height: $spinner-height;
    vertical-align: text-bottom;
    border: $spinner-border-width solid $white;
    border-right-color: transparent;
    // stylelint-disable-next-line property-blacklist
    border-radius: 50%;
    animation: loader-border .75s linear infinite;
}

.loader-border-sm
{
    width: $spinner-width-sm;
    height: $spinner-height-sm;
    border-width: $spinner-border-width-sm;
}

//
// Growing circle
//

@keyframes loader-grow {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
    }
}

.loader-grow
{
    display: inline-block;
    width: $spinner-width;
    height: $spinner-height;
    vertical-align: text-bottom;
    background-color: $white;
    // stylelint-disable-next-line property-blacklist
    border-radius: 50%;
    opacity: 0;
    animation: loader-grow .75s linear infinite;
}

.loader-grow-sm
{
    width: $spinner-width-sm;
    height: $spinner-height-sm;
}
  

//
// Loader colors
//
@mixin mixin-loader-color($color)
{
    &.loader-quart
    {
        border-color: rgba($color, 0.4);
        &:after
        {
            border-top-color: $color;
        }
    }
    &.loader-border
    {
        border-color: $color;
        border-right-color: transparent;
    }
    &.loader-grow
    {
        background-color: $color;
    }
}

.loader-default   { @include mixin-loader-color($white); }
.loader-primary   { @include mixin-loader-color($primary); }
.loader-secondary { @include mixin-loader-color($secondary); }
.loader-success   { @include mixin-loader-color($success); }
.loader-danger    { @include mixin-loader-color($danger); }
.loader-warning   { @include mixin-loader-color($warning); }
.loader-info      { @include mixin-loader-color($info); }
.loader-light     { @include mixin-loader-color($light); }
.loader-dark      { @include mixin-loader-color($dark); }

