$menu-item-text-color: $body-color !default;
$menu-item-hover-bg-color: darken($body-bg, 10%) !default;
$menu-item-hover-text-color: $body-color !default;
$menu-divider-color: #e5e5e5 !default;

.menu-popup-content
{
    margin: 3px;

    > .menu-item
    {
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        padding: 4px 16px;
        text-decoration: none;
        
        display: flex;
        align-items: center;

        color: $menu-item-text-color;

        img, i
        {
            width: 24px;
            line-height: 1.42857143;
            margin-right: 8px;
        }
        img
        {
            &.rounded
            {
                border-radius: 50%;
            }
        }

        &.disabled
        {
            color: $text-muted;
            cursor: not-allowed;
        }
        &:not(.disabled)
        {
            cursor: pointer;
            &:hover
            {
                text-decoration: none;
                color: $menu-item-hover-text-color;
                background-color: $menu-item-hover-bg-color;
            }
        }
    }
    .menu-divider
    {
        display: block;
        height: 1px;
        margin: 5px 7px;
        overflow: hidden;
        background-color: $menu-divider-color;
    }
}
