
.pagination
{
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    margin: auto;

    .page-item
    {
        box-sizing: border-box;
        .page-link
        {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            line-height: 1.25;
            color: black;
            background-color: #fff;
            border: 1px solid #dee2e6;

            text-decoration: none;
        }
        &.active .page-link
        {
            color: white;
            background: $primary-background;
        }

        &.disabled .page-link
        {
            cursor: not-allowed;
            color: $disabled-text;
        }
    }
}
