
.popup
{
    position: absolute;
    z-index: $z-index-popup;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;

    border: 1px solid $popup-border;
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: $popup-background;

    // ...
    min-width: 30px;
    min-height: 10px;

    cursor: default;
    user-select: none;

    margin-bottom: 20px;

    &.fullwidth
    {
        width: 100%;
    }

    &.arrow
    {
        &:before,&:after
        {
            content: '';
            display: inline-block;
            position: absolute;
        }

        &.arrow-top-left,
        &.arrow-top-right,
        &.arrow-top-center,
        &.arrow-top-left-corner,
        &.arrow-top-right-corner
        {
            &:after
            {
                top: -6px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid $popup-background;
            }
            &:before
            {
                top: -7px;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid $popup-border;
            }
        }
        &.arrow-bottom-left,
        &.arrow-bottom-right,
        &.arrow-bottom-center,
        &.arrow-bottom-left-corner,
        &.arrow-bottom-right-corner
        {
            &:after
            {
                bottom: -6px;
                border-right: 6px solid transparent;
                border-top: 6px solid $popup-background;
                border-left: 6px solid transparent;
            }
            &:before
            {
                bottom: -7px;
                border-right: 7px solid transparent;
                border-top: 7px solid $popup-border;
                border-left: 7px solid transparent;
            }
        }
        &.arrow-top-left,&.arrow-bottom-left
        {
            &:after     {   left: 10px;                 }
            &:before    {   left: 9px;                  }
        }
        &.arrow-top-right,&.arrow-bottom-right
        {
            &:after     {   right: 10px;                }
            &:before    {   right: 9px;                 }
        }
        &.arrow-top-center,&.arrow-bottom-center
        {
            &:after     {   left: calc(50% - 6px);      }
            &:before    {   left: calc(50% - 7px);      }
        }
        &.arrow-top-left-corner,&.arrow-bottom-left-corner
        {
            &:after     {   left: 0;    border-left: 0 solid transparent;       }
            &:before    {   left: -1px; border-left: 0 solid transparent;       }
        }
        &.arrow-top-right-corner,&.arrow-bottom-right-corner
        {
            &:after     {   right: 0;   border-right: 0 solid transparent;      }
            &:before    {   right: -1px;    border-right: 0 solid transparent;  }
        }
        //--------------
        &.arrow-left-top,
        &.arrow-left-bottom,
        &.arrow-left-center,
        &.arrow-left-top-corner,
        &.arrow-left-bottom-corner
        {
            &:after
            {
                left: -6px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-right: 6px solid $popup-background;
            }
            &:before
            {
                left: -7px;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-right: 7px solid $popup-border;
            }
        }
        &.arrow-right-top,
        &.arrow-right-bottom,
        &.arrow-right-center,
        &.arrow-right-top-corner,
        &.arrow-right-bottom-corner
        {
            &:after
            {
                right: -6px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 6px solid $popup-background;
            }
            &:before
            {
                left: -7px;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid $popup-border;
            }
        }
        &.arrow-left-top,&.arrow-right-top
        {
            &:after     {   top: 10px;          }
            &:before    {   top: 9px;           }
        }
        &.arrow-left-bottom,&.arrow-right-bottom
        {
            &:after     {   bottom: 10px;       }
            &:before    {   bottom: 9px;        }
        }
        &.arrow-left-center,&.arrow-right-center
        {
            &:after     {   top: calc(50% - 6px);       }
            &:before    {   top: calc(50% - 7px);       }
        }
        &.arrow-left-top-corner,&.arrow-right-top-corner
        {
            &:after     {   top: 0;         border-top: 0 solid transparent;      }
            &:before    {   top: -1px;      border-top: 0 solid transparent;      }
        }
        &.arrow-left-bottom-corner,&.arrow-right-bottom-corner
        {
            &:after     {   bottom: 0;      border-bottom: 0 solid transparent;     }
            &:before    {   bottom: -1px;   border-bottom: 0 solid transparent;     }
        }
    }
}

.popup-wrapper
{
    width: fit-content;
    height: fit-content;
    position: relative;

    &.fullwidth
    {
        width: 100%;
    }
}
