
$progress-bar-height: 12px;
$progress-bar-height-mid: 6px;

.progress-bar
{
    position: relative;
    overflow: hidden;

    background-color: #f5f5f5;
    //box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 0.1rem 0.1rem rgba(90,97,105,.15);

    width: 100%;

    height: 32px;
    border-radius: 0;

    height: $progress-bar-height;
    border-radius: $progress-bar-height-mid;
    
    &::before
    {
        content: '';
        background-color: #8f8f8f;

        display: flex;
        align-items: center;

        width: calc(var(--width, 0));
        height: 100%;
        position: absolute;

        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
        transition: width .6s ease;
    }

    &.progress-bar-striped::after
    {
        content: '';
        width: calc(var(--width, 0));
        height: 100%;
        position: absolute;
        
        background-image: linear-gradient(
            45deg,
            rgba(255,255,255,.15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255,255,255,.15) 50%,
            rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-size: $progress-bar-height;
    }

    &.progress-bar-striped.animated::after
    {
        animation: striped 0.5s linear infinite;
        
        @keyframes striped
        {
            from {
                background-position: -4rem 0;
            }
            to {
                background-position: -2rem 0;
            }
        }
    }
    > span
    {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }
}

.progress-bar-primary   { &::before { background-color: $primary-background; } }
.progress-bar-secondary { &::before { background-color: $secondary-background; } }
.progress-bar-success   { &::before { background-color: $success-background; } }
.progress-bar-danger    { &::before { background-color: $danger-background; } }
.progress-bar-warning   { &::before { background-color: $warning-background; } }
.progress-bar-info      { &::before { background-color: $info-background; } }
.progress-bar-light     { &::before { background-color: $light-background; } }
.progress-bar-dark      { &::before { background-color: $dark-background; } }
