$radiobox-size: 1.125rem !default;
$radiobox-margin: $margin-right-input !default;

.radiobox
{
    display: inline-block;
    line-height: 0;

    .radiobox-icon
    {
        position: relative;
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        display: block;
        width: $checkbox-size;
        height: $checkbox-size;
        min-width: $checkbox-size;
        min-height: $checkbox-size;

        background-color: #fff;
        border: 1px solid #e1e5eb;

        transition: all .25s cubic-bezier(.27,.01,.38,1.06);

        border-radius: 50%;
        box-shadow: none;
        box-sizing: content-box;

        user-select: none;
        pointer-events: all;

        &:after
        {
            content: "";
            position: absolute;

            display: block;

            background-size: 50% 50%;

            border-radius: 50%;
            background-image: none!important;

            background: #fff;

            transition: all .25s cubic-bezier(.27,.01,.38,1.06);
            transition-delay: .1s;
            opacity: 0;
            transform: scale(0);

            top: 0.3125rem;
            left: 0.3125rem;
            width: 0.5rem;
            height: 0.5rem;
        }
    }

    label
    {
        margin: 0;
        display: flex;
    }

    input[type=radio]
    {
        display: none;

        &:active
        {
            ~ .radiobox-icon
            {
                background-color: $input-active-color;
            }
        }
        &:checked
        {
            ~ .radiobox-icon
            {
                background: $primary-background;
            }
            ~ .radiobox-icon:after
            {
                opacity: 1;
                transform: scale(1);
                background: #fff;
            }
        }
        &:disabled
        { 
            ~ .radiobox-icon
            {
                background-color: $disabled-background;
            }
            &:checked ~ .radiobox-icon:after
            {
                background-color: $disabled-text;
            }
        }
    }

    &.disabled
    {
        label
        {
            cursor: not-allowed;
        }
    }
}

.radiobox-with-label
{
    .radiobox
    {
        margin-right: $radiobox-margin;
        .radiobox-icon
        {
            top: ($font-size-base * $line-height-base - $radiobox-size) / 2;
            //top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2; //TODO
        }
    }
}
