
$slider-height: 5px;
$slider-thumb-bg: $body-bg;
$slider-thumb-bg-disabled: darken($body-bg, 10%);

.slider
{
    position: relative;
    padding: 12px 0;
    width: 100%;
    
    .slider-rail
    {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: #eceeef;
        box-shadow: inset 0 1px 2px rgba(90,97,105,.1);
    }
    .slider-track
    {
        position: absolute;
        height: 100%;
        border-radius: 5px;
        background: $primary-background;
    }
    .slider-thumb
    {
        width: 23px;
        height: 23px;
        position: absolute;
        border: 1px solid #e7e9ea;
        border-radius: 50%;
        box-shadow: 0 3px 15px rgba(90,97,105,.1), 0 2px 3px rgba(90,97,105,.2);
        background: #fff;
        
        transform: translate(-10px, -10px);

        transition: box-shadow .28s cubic-bezier(.27,.01,.38,1.06);

        &.active
        {
            outline: 0;
            box-shadow: 0 0 8px $primary-background, 0 3px 15px rgba(90,97,105,.1), 0 2px 3px rgba(90,97,105,.2);
        }
    }
    .slider-wrapper
    {
        position: relative;
        height: $slider-height;
    }

    &.disabled
    {
        .slider-rail
        {
            background-color: $disabled-background;
        }
        .slider-track
        {
            background-color: $disabled-background;
        }
        .slider-thumb
        {
            background-color: $slider-thumb-bg-disabled;
        }
    }
}
