$switch-height: 1.125rem !default;
$switch-margin: $margin-right-input !default;

.switch
{
    display: inline-block;
    line-height: 0;

    .switch-icon
    {
        position: relative;
        display: block;
        width: 2.2rem;
        height: $switch-height;
        min-width: 2.2rem;
        min-height: $switch-height;

        background: #fff;
        border: .0625rem solid #e1e5eb;

        border-radius: 100px;
        box-shadow: none;
        box-sizing: content-box;

        user-select: none;
        pointer-events: all;

        transition: all .25s cubic-bezier(.27,.01,.38,1.06);

        &:after
        {
            content: "";
            display: block;
            position: absolute;
            
            top: .1875rem;
            left: .1875rem;
            width: .75rem;
            height: .75rem;

            background-size: 50% 50%;
            background: #e4e4e4;

            //border-radius: 50%;
            border-radius: 6.25rem;

            transition: .35s;
        }
    }

    label
    {
        margin: 0;
        display: flex;
    }

    input[type=checkbox]
    {
        display: none;
        &:active
        {
            ~ .switch-icon
            {
                background-color: $input-active-color;
            }
            &:not([disabled])
            {
                ~ .switch-icon:after
                {
                    width: 1rem;
                }
                &:checked ~ .switch-icon:after
                {
                    left: 1.0125rem;
                }
            }
        }
        &:checked
        {
            ~ .switch-icon
            {
                background: $primary-background;
            }
            ~ .switch-icon:after
            {
                background: #fff;
                left: 1.2625rem;
            }
        }
        &:disabled
        {
            ~ .switch-icon
            {
                background-color: $disabled-background;
            }
            &:checked
            {
                ~ .switch-icon
                {
                    background-color: $disabled-background;
                }
                ~ .switch-icon:after
                {
                    background-color: $disabled-text;
                }
            }
        }
    }

    &.disabled
    {
        label
        {
            cursor: not-allowed;
        }
    }
}

.switch-with-label
{
    .switch
    {
        margin-right: $switch-margin;
        .switch-icon
        {
            top: ($font-size-base * $line-height-base - $switch-height) / 2;
            //top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2; //TODO
        }
    }
}
