
.tabs
{
    .tabs-nav
    {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        user-select: none;

        border-bottom: 1px solid $tabs-panel-border-color;
        .tab-item
        {
            margin-bottom: -1px;

            display: block;
            padding: .5rem 1rem;

            //font-size: $default-font-size;// TODO
            line-height: $default-line-height;

            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;

            cursor: pointer;
            background: white;

            color: black;
            border-top: 2px solid white;
            border-bottom: 1px solid #dee0e0;

            > a
            {
                color: inherit;
                text-decoration: none;
            }
            &.active
            {
                color: #495057;
                border-top: 2px solid $tab-active-border-color!important;
                background-color: #fff;
                border-color: $tabs-panel-border-color $tabs-panel-border-color #fff;
            }
            &[disabled],&.disabled,&:disabled,
            &[disabled] > a,&.disabled > a,&:disabled > a
            {
                color: #6c757d;
                border-color: transparent;
                pointer-events: none;

                background-color: $disabled-background;
            }
            &:not([disabled]):not(.disabled):not(.active):hover
            {
                border-color: #e9ecef #e9ecef $tabs-panel-border-color;
            }
        }
    }

    .tabs-content
    {
        padding: 10px;

        background: white;
        &.full-borders
        {
            border-left: 1px solid $tabs-panel-border-color;
            border-right: 1px solid $tabs-panel-border-color;
            border-bottom: 1px solid $tabs-panel-border-color;
        }
    }
}
