
@import './styles/custom_variables.scss';

//--------------------------------------------------------------------------------------------------

@import './styles/0/functions';
@import './styles/variables.scss'; // XXX

// ELEVATION
// --------------------------------------------------------
$enable-shadows: true;
$elevations: ();
$elevations: map-merge((
    1: unquote('0 1px 3px ' + rgba($black, 0.12) + ', 0 1px 2px ' + rgba($black, 0.24)),
    2: unquote('0 3px 6px ' + rgba($black, 0.16) + ', 0 3px 6px ' + rgba($black, 0.23)),
    3: unquote('0 10px 20px ' + rgba($black, 0.19) + ', 0 6px 6px ' + rgba($black, 0.23)),
    4: unquote('0 14px 28px ' + rgba($black, 0.25) + ', 0 10px 10px ' + rgba($black, 0.22)),
    5: unquote('0 19px 38px ' + rgba($black, 0.30) + ', 0 15px 12px ' + rgba($black, 0.22)),
), $elevations);

@import './styles/0/mixins';
@import './styles/0/root';
@import './styles/0/reboot';
@import './styles/0/type';
@import './styles/0/images';
@import "./styles/0/code";
@import "./styles/0/grid";
@import "./styles/0/tables";
@import "./styles/0/buttons";
@import "./styles/0/input-group";
@import "./styles/0/card";
@import "./styles/0/badge";
@import "./styles/0/alert";
@import "./styles/0/close";
@import "./styles/0/utilities";

@import "./styles/0/components/breadcrumbs";

//@import "./styles/0/components-x/alert"; // TODO: delete
//@import "./styles/0/components-x/button"; // TODO: delete
@import "./styles/0/components-x/button-toolbar";
@import "./styles/0/components-x/card";
@import "./styles/0/components-x/check-box";
@import "./styles/0/components-x/dialog";
@import "./styles/0/components-x/loader";
@import "./styles/0/components-x/menu";
@import "./styles/0/components-x/modal";
@import "./styles/0/components-x/pagination";
@import "./styles/0/components-x/popup";
@import "./styles/0/components-x/progress-bar";
@import "./styles/0/components-x/radio-box";
@import "./styles/0/components-x/slider";
@import "./styles/0/components-x/switch";
@import "./styles/0/components-x/tabs";

@import './styles/form.scss';
@import './styles/anims.scss';
@import './styles/link.scss';

// From AdminLTE

$font-size-xs: ($font-size-base * .75) !default;
$font-size-xl: ($font-size-base * 2) !default;

$button-padding-y-xs: .125rem !default;
$button-padding-x-xs: .25rem !default;
$button-line-height-xs: $line-height-sm !default;
$button-font-size-xs: ($font-size-base * .75) !default;
$button-border-radius-xs: .15rem !default;

.btn-xs {
@include button-size($button-padding-y-xs, $button-padding-x-xs, $button-font-size-xs, $button-line-height-xs, $button-border-radius-xs);
}

// Custome style

.btn
{
    position: relative;
    &.btn-rounded
    {
        border-radius: 2rem;
    }

    &.btn-processing
    {
        pointer-events: none;
        &:after
        {
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            background-image: linear-gradient(
                45deg,
                rgba(255,255,255,.15) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255,255,255,.15) 50%,
                rgba(255,255,255,.15) 75%,transparent 75%,transparent);
            background-size: 2rem;

            animation: striped 0.5s linear infinite;

            @keyframes striped
            {
                from { background-position: -4rem 0; }
                to   { background-position: -2rem 0; }
            }
        }
    }

    &.btn-tool
    {
        padding: 6px;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.btn-uppercase
    {
        text-transform: uppercase;
    }

    &.btn-fullwidth
    {
        width: 100%;
    }

    &.disabled,
    &:disabled,
    &[disabled]
    {
        pointer-events: none;
    }
}

.select
{
    height: unset;
}
